/*Kyle Whitchurch 4/13/2022*/
body{
    background-color: beige;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.centertext {
      text-align: center;
  }
  .centertab {
    margin: auto;
    max-width: 750px;
    
}
li {
    color:black;
}
ul {
    color: black;
}
.img {
    opacity: .50;
}
.white {
    color: black;
}

.font {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}