/*Kyle Whitchurch 4/13/2022*/
body{
    background-color: beige;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.centertext {
      text-align: center;
  }
  .centertab {
    margin: auto;
    max-width: 750px;
    
}
li {
    color: white;
}
ul {
    color: white;
}
.img {
    opacity: .50;
}

.yeah {
    background-image: url(../Images/mtns.jpg);
}
.white {
    color: white;
}

.font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}